.booksHeading {
    margin: 3vmax auto;

    width: 23vw;
    border-bottom: 4px solid rgba(0, 0, 0, 0.171);
    color: rgba(0, 0, 0, 0.678);
    font: 800 2.5vmax "Roboto";
    text-align: center;
    margin-top: 110px;
  }
.book-wrapper{
  box-shadow: 0px 19px 50px 0px rgb(21 18 18 / 25%);
    padding-bottom: 3%;
}
  .btn >a{
    text-decoration: none;
    color: #000;
  }
  .btn:hover a{
    color: white;
  }
  .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 30vh;
    
  }
  .active a{
    text-decoration: none;
    color: white !important;
    background-color: #000;
  }
 .btn a:active {
  text-decoration: none;
  color: white !important;
  background-color: #000;
  }
  .hellox{
    width: 100%;
  }
  .row-btn{
    margin:0 15px;

  }
  .helloxssss{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .zurbail{
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid lightgray;
    border-radius: 4px;
    /* font-family: initial; */
    /* padding: 10px; */
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    /* padding-top: 4px; */
    text-transform: uppercase;
  }
  .cat-btn{
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    border: none;
    /* font-family: initial; */
    padding: 10px;
    transition: all 0.3s ease-out 0s;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    /* margin-top: 4px; */
    text-transform: uppercase;
  }
  .btn-outline-dark{
    border: none;
  }

  .filterBox {
    width: 25%;
    display: flex;
    flex-direction: column;
  
    margin: 0px 10px;
    /* border: 1px  solid rgb(137, 137, 137); */
    /* justify-content: center; */
    /* min-height: 30vh; */
  }

  .search-btn{
    font-size: 17px !important;
    border: 2px solid #bab6b6 !important;
    padding: 5px !important;
    height: 68px !important;
    box-shadow: 0px 2px 19px 0px rgb(21 18 18 / 18%);
    color: #ffffff;
    background-color: black;
    border-radius:7px;
  }
  .search-btn:hover{
    background-color: #2f2c2c;
  }

  .paginationBox{
    display: flex;
    justify-content: center;
    margin: 6vmax;
  }
  .pagination{
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .page-item {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.178);
    padding: 0.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    text-decoration: none;
    color: rgb(80, 80, 80);
    transition: all 0.3s;
    border: none;
  }
  
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  
  .page-item:hover .page-link {
    color: rgb(0, 0, 0);
  }
  
  .pageItemActive {
    background-color: #2f2c2c;
  }

  @media screen and (max-width: 600px) {
    .filterBox {
      width: 20vmax;
      position: static;
      margin: auto;
    }
  
    .page-link {
      font: 300 1.7vmax "Roboto";
    }
    .category-link {
      font: 400 1.8vmax "Roboto";
    }
  }
  
